1. CRUD-интерфейс для добавления груза и этапов.
    - создать форму для создания заказа.
    - добавить кнопку для выбора заказов и их удаления.
    - добавить кнопку для развертывания заказа.
    - добавить кнопку для редактирования заказа.
2. Проверка статуса по расписанию (cron или Firebase).
3. Telegram-оповещение при нарушении SLA.
    - создать телеграм авторизацию и получить токен.