@import "tailwindcss";
@import "tw-animate-css";

@import "./variables.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-sky-50;
}
